%form
  %fieldset.inputs
    %ol
      %li
        %label
          Стиль танца
        %select#dance_style
          %option
          - DanceStyle.all.each do |style|
            %option{value: style.id.to_s}
              = style.name
      %li
        %label
          Тренер
        %select#coach
  .lessons-form-wrapper
    .additional-info
      - DanceStyle.all.each do |style|
        %span.ui-style-name{id: 'style-'+style.id.to_s}
          = style.name
      - Coach.all.each do |coach|
        %span.ui-coach-name{id: 'coach-'+coach.id.to_s}
          = coach.name
      - 0.upto(23) do |i|
        %span.ui-time{id: 'time-'+i.to_s}
          = Lesson::LessonTime[i]
      - 0.upto(6) do |i|
        %span.ui-day{id: 'day-'+i.to_s}
          = t(Lesson::LessonDay[i])

    = render partial: 'lessons/lessons_table'
    .admin-modal-shadow
    .admin-popover
      .modal-body
        %p
          Направление -
          %span.style
        %p
          День -
          %span.day
        %p
          Время -
          %span.time
        %p
          Тренер -
          %span.coach
      .modal-actions
        %button.delete
          Удалить
        %button.busy
          Группа набрана
        %button.cancel
          Отмена