.popover-head
  = link_to @lesson.dance_style.name, '/dance_styles/' + @lesson.dance_style.id.to_s
.popover-body
  .description
    = @lesson.dance_style.preview
  .lesson-info
    %span.key
      день:
    = t(@lesson.day_as_string)
  .lesson-info
    %span.key
      время:
    = raw style_time @lesson.time_as_string
  .lesson-info
    %span.key
      зал
    = t(@lesson.hall.name)
  .lesson-info
    %span.key
      занятия ведет:
    - @coach = @lesson.coach
    = link_to @coach.name, '/coaches/' + @coach.id.to_s
  .price-link
    %a.to-price.close-button{href: '#price-list'}
      стоимость занятий
  - if @lesson.no_vacancy?
    .message-no-vacancy
      %p
        Группа набрана
  -else
    .button-wrap
      %button.sign
        Записаться

  = form_for Client.new, remote: true, html: {class: 'inputs'} do |f|
    .input-wrap
      = f.text_field :name, type: 'text', placeholder: 'Ваше имя'
    .input-wrap
      = f.text_field :phone, type: 'text', placeholder: 'Ваш контактный телефон'
    .input-wrap
      = f.text_field :email, type: 'text', placeholder: 'Ваш email'
    = hidden_field_tag 'client[lesson_id]', @lesson.id
    %label.validation_message Заполните все поля, пожалуйста
    .button-wrap
      = f.submit class: 'submit_button', value: 'Отправить заявку'

.confirm-block
  %p
    Ваша заявка принята
  %p
    В ближайшее время с Вами свяжется администратор школы
  .button-wrap
    %button.ok
      Ок
.close-popover
  %a.close-button


