!!!
%html
  %head.main-layout
    %meta{:charset => "utf-8"}
    %title Alma de la Danza
    %link{rel:"icon", type:"image/ico", href:"favicon.ico?v=2"}

    -#%script{src: "http://code.jquery.com/jquery-1.9.1.js",  "data-turbolinks-track" => ""}
    -#%script{src: "http://code.jquery.com/ui/1.10.3/jquery-ui.js",  "data-turbolinks-track" => ""}
    %script{src:"http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU", type:"text/javascript"}

    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    -#= favicon_link_tag 'favicon.ico'
    = csrf_meta_tags


  %body.main-layout
    #document
      .gradient
      #wrapper-media
        = render :partial => 'menu/menu'
        .content
          = yield
    #footer_spacer
      = render :partial => '/footer'
    #main_shadow
    #main_popover
      .popover-content
        = form_for Client.new, remote: true, html: {class: 'inputs'} do |f|
          .input-wrap
            = f.text_field :name, type: 'text', placeholder: 'Ваше имя'
          .input-wrap
            = f.text_field :phone, type: 'text', placeholder: 'Ваш контактный телефон'
          .input-wrap
            = f.text_field :email, type: 'text', placeholder: 'Ваш email'
          %label.validation_message Заполните все поля, пожалуйста
          .button-wrap
            = f.submit class: 'submit_button', value: 'Отправить заявку'

    :javascript
      menu_popup = new MenuPopup;
