!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "Alma de la Danza, танцевальная школа для взрослых: групповые и индивидуальные занятия, классические и современные танцы, йога", :name => "description"}
    %title Alma de la Danza, танцевальная школа для взрослых
    %link{rel:"icon", type:"image/ico", href:"favicon.ico?v=2"}

    = stylesheet_link_tag    "application", :media => "all", "data-turbolinks-track" => ""
    = javascript_include_tag "application"
    -#= favicon_link_tag 'favicon.ico'
    = csrf_meta_tags

  %body
    #na_page_container
      =yield :gradient
      #na_menu_container
        #na_menu
          = render partial: 'menu/menu'
      #main_content.scrollable_container
        = yield :citation
        #main_left_panel.scrollable
          = yield

    = render partial: '/footer'
