!!!
%html
%head
  %meta{:charset => "utf-8"}
  %title Alma de la Danza

  = stylesheet_link_tag    "application", :media => "all", "data-turbolinks-track" => ""
  = javascript_include_tag "application"
  = favicon_link_tag 'favicon.ico'
  = csrf_meta_tags

%body
  #na_page_container
    =yield :gradient
    #na_menu_container
      #na_menu
        = render partial: 'menu/menu'
    #na_content.scrollable_container
      #na_content_wrapper
        #na_left_panel
          = yield :left_panel
        #na_right_panel.scrollable
          = yield :right_panel

  = render partial: '/footer'
